.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.info {
  padding: 5px;
  margin: 2px;
  width: 300px;
}
